<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Sessões de Votação</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Sessões de Votação</h1>

        <!-- Seção para sessões ativas com opções de votação -->
        <div id="active-sessions-section">
            <h2>Sessões Ativas</h2>
            <div id="active-sessions-list"></div>
        </div>

        <!-- Seção para mostrar resultados das sessões -->
        <div id="results-section">
            <h2>Resultados das Sessões</h2>
            <div id="results-list"></div>
        </div>

    </div>

    <script src="./static/list_sessions.js"></script>
</body>
</html>
